# Python version
# python == 3.11.x

tensorflow==2.16.2
tensorflow-hub==0.16.1
tf-keras==2.16.0

numpy==1.26.4
scipy==1.14.1
pandas==2.2.2
matplotlib==3.9.0
scikit-learn==1.5.1

requests==2.32.3
streamlit==1.37.0
folium==0.17.0
streamlit-folium==0.20.0

# Audio processing
librosa==0.10.2.post1
soundfile==0.12.1
audioread==3.0.1
